<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Range: <input ng-model="range">
      Divisor: <input ng-model="divisor" class="divisor">
      Condition: <input ng-model="condition" class="condition">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span5">
        <!--Body content-->
        <ul class="numbers">
         <div ng-repeat="number in numbersWithInfo">
             <span ng-class="{divisor: number.divisible, condition: number.condition}">
                {{number.n}}
            </span>
          </div>
      </ul>
    </div>
  </div>
</div>
